/* rectangle */

@media screen and (max-width:1154px) {
    #retangle{
        width: 30%;
        top:-10px;
    }
}

/*content   */

#heading_h1{
    font-family: "Molle",cursive;
}

@media screen and (max-width:1331px){
    #heading_h1{
        /* width: 100%; */
        font-size: 65px;
    }
    #img_header{
        width: 700px;
        bottom: 20px;
    }
    #img_header{
        top:-30px;
        height: 470px;
    }

    #header_content{
        padding-top: 260px;
        
    }
}


@media screen and (max-width:1064px) {
    /* #heading_h1{
        width:10px;
    } */
}


@media screen and (max-width:955px) {
    #heading_h1{
        width: 70vw;
    }
    #img_header{
        top:-40px;
    }
}


@media screen and (max-width:626px){
    #heading_h1{
        font-size: 50px;
    }
    #img_header{
        height: 370px;
        width: 700px;
        bottom: 20px;
    }

    #header_content{
        margin-right: 10px;
        
    }

    #img_header{
      top:-20px;
    }


}

@media screen and (max-width:430px){
    #img_header{
        width:50px;
        height: 50px;
        top:-50px
    }
}


@media screen and (max-width:626px){
    #hero{
      height: 700px;
    }
  }





  
