@media screen and (max-width:1331px) {
    #logo{
        left: 40px;
        top:10px
    }
}

@media screen and (max-width:1154px) {
    #logo{
        left:70px;
    }
}

@media screen and (max-width:626px){
    #logo_heading{
        font-size: 17px;
    }
    #logo_heading2{
        font-size: 10px;
        left: 20px;
    }
    #logo_image{
        height: 35px;
        width: 35px;
    }
}