#navbarmain{
    font-family: Montserrat;
}

ul li{
    filter: drop-shadow(3.709px 1.498px 0px rgba(0, 0, 0, 0.2));
}

#navbaricons{
    color: aliceblue;
}

@media screen and (max-width:1331px) {
    #navbar_content{
        right: -20px;
    }

    #navbar_content{
        gap: 50px;
    } 
}

@media screen and (max-width:1154px) {
    #navbarmain{
        display: none;
    }
}

@media screen and (max-width:626px){
    #navbaricons{
        display: none;
    }

    #menu{
        position: relative;
    }

}



/* logo */
@media screen and (max-width:1331px) {
    #logo{
        left: 40px;
        top:10px
    }
}

@media screen and (max-width:1154px) {
    #logo{
        left:70px;
    }
}

@media screen and (max-width:626px){
    #logo_heading{
        font-size: 17px;
    }
    #logo_heading2{
        font-size: 10px;
        left: 20px;
    }
    #logo_image{
        height: 35px;
        width: 35px;
    }
}


