#navbarmain{
    font-family: Montserrat;
}

ul li{
    filter: drop-shadow(3.709px 1.498px 0px rgba(0, 0, 0, 0.2));
}

#navbaricons{
    color: aliceblue;
}

@media screen and (max-width:1331px) {
    #navbar_content{
        right: -20px;
    }

    #navbar_content{
        gap: 50px;
    } 
}

@media screen and (max-width:1154px) {
    #navbarmain{
        display: none;
    }
}

@media screen and (max-width:626px){
    #navbaricons{
        display: none;
    }

    #menu{
        position: relative;
    }
}
