h1{
    font-family: "Molle",cursive;
}

@media screen and (max-width:1331px){
    #heading_h1{
        width: 1000px;
    }
    #img_header{
        width: 700px;
        bottom: 20px;
    }
    img{
        top:-30px
    }
}



@media screen and (max-width:1064px) {
    #heading_h1{
        width: 100%;
    }
}


@media screen and (max-width:955px) {
    img{
        top:-40px;
    }
}


@media screen and (max-width:626px){
    #heading_h1{
        font-size: 50px;
    }
    #img_header{
        height: 370px;
        width: 700px;
        bottom: 20px;
    }

    #header_content{
        padding-top: 150px;
    }

    img{
      top:-20px;
    }

    



}

