h1{
    font-family: "Molle",cursive;
}

@media screen and (max-width:1331px){
    #heading_h1{
        width: 1000px;
    }
    #img_header{
        width: 700px;
        bottom: 20px;
    }

    #navbar_content{
        gap: 50px;
    }


}